@charset "UTF-8";
/* 

CSS Document for Jarnheimer Productions 

*/



body{


}

img {

border:0;

}

.clear {
	clear:both;
}

/* 
------------------------------------------ 
	GLOBAL
------------------------------------------ 
*/


.input {
	margin: 0px;
	padding: 6px 7px 5px 7px;
	background-color:#FFFFFF;
	
	
	font-family: Arial;
	font-size: 12px;
	color: #333333;

	border-left: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;	
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}	

.button {
	margin: 0px;
	padding: 0px 8px 0px 8px;
	
	height: 25px;
	background-color: #b00000;
	
	font-family: Arial;
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
	
	border: 0px;
}


/* 
------------------------------------------ 
	CONTAINER
------------------------------------------ 
*/

.containerSite {

	width:960px;
	margin:auto;

}

#contentMargin {

margin-top:14px;
background:url(../img/css/bgContentMargin.jpg) repeat-x;
background-color:#eeeeee;
padding-bottom:20px;

}


/* 
------------------------------------------ 
	MENU - top
------------------------------------------ 
*/

.containerMenu {

	float:right;

}

#containerMenu li {
	float:right;
	margin-top:30px;
}

#containerMenu ul {
	
	margin: 0;
	padding: 0;
	
	list-style-type: none;

}

#containerMenu ul a{

	list-style:none;
	display:block;

	background : #eeeeee;
	margin: 5px 0px 5px 10px;
	padding : 7px 18px 7px;
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration : none;

}

#containerMenu ul a:hover{

	background: #b00000;
	color:#FFFFFF;

}

#containerMenu ul a:active{

	background: #b00000;
	color:#FFFFFF;

}


/* 
------------------------------------------ 
	TOP
------------------------------------------ 
*/

#top {
border-bottom:solid 1px #666666;
}

#logo{
	float:left;
}

/* 
------------------------------------------ 
	START
------------------------------------------ 
*/

.portrait{
	
	margin-left:25px;
	float:left;
	
	
}

.columnRight{

	float:right;
	margin-top:80px;
	margin-right:80px;
	width:350px;

}

.columnLeft{

	float:left;
	width:400px;

}

.columnFooterBase{

	float:left;
	width:280px;
	margin-left:50px;
	margin-top:20px;

}

.columnFooter{

	float:left;
	width:160px;
	margin-left:50px;
	margin-top:20px;

}


.columnWhole{

	margin-left:50px;
	margin-right:50px;
	padding-top:20px;
	padding-bottom:10px;

}


.head {
	font-family:Geneva;
	font-size:17px;
	margin-bottom:8px;

}

.head2 {
	font-family:Geneva;
	font-size:14px;
	margin-bottom:5px;

}


.text {
	
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	line-height:20px;

}

.text a{

	color:#b00000;
	text-decoration:none;
	border-bottom: 1px solid #cbcbcb;
}

.text a:hover{
	color:#6d0000;
}

.marginLeft {
margin-left:40px;
}

.line {
height:20px;
border-bottom:solid 1px #d2d2d2;
}


.width100p{
	width:100%;


}